footer p {
    border-top: 1px solid #aaaaaa;
    margin-top: 10px;
    padding-top: 10px;
}

table tr:not(:first-child) {
    cursor: pointer;
}

.navbar-brand > img {
    height: 150%;
    width: auto;
    margin-top: -5px;
}

.all-day {
    background-color: #44ff44;
}

.two-hours {
    background-color: #ffff44;
}

.top-space {
    margin-top: 20px;
}