
<div ng-class="event.backgroundClass">
    <div class="modal-header text-center">
        <div class="panel-title">{{event.title}}</div>
    </div>

    <div class="modal-body">
        <p>Date: {{event.date}}</p>
        <p>Duration: {{event.detail}}</p>
        <p>Description</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula magna nulla, vel mattis
             tellus lacinia sit amet. Etiam fermentum arcu eu facilisis auctor. Nulla eu mollis ligula. 
             Phasellus enim mi, egestas sit amet dapibus nec, congue ac nisi. Suspendisse sed augue lacinia
              felis eleifend dapibus. Quisque at rhoncus elit, vitae mattis ligula. Vestibulum placerat 
              aliquam mauris, at tempus tortor feugiat in. Duis vitae ipsum non nibh egestas mattis.</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn ml-auto" data-dismiss="modal" ng-click="close()">Close</button>
    </div>
</div>